@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div> 
        <h1>Meh</h1>
        @Html.ActionLink(
            linkText: "Restaurant",
            actionName: "Restaurant",
            controllerName: "Home" 
            );
    </div>
</body>
</html>
